@import "imports/reset.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #202020;
  font-size: 16px;
}

a {
  color: #3A71B0;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.gangsta-wrap {
  max-width: 800px;
  margin: auto;
  padding: 16px;
  padding-bottom: 104px;
}

.header {
  margin-bottom: 40px;
  padding: 16px 0 24px 0;
  border-bottom: 2px solid #F7F7F8;
}

.logo {
  position: relative;
  top: 4px;
  height: 24px;
  margin-right: 8px;
}

.title {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

.title a {
  color: #202020;
}
.title a:hover,
.title a:focus, {
  text-decoration: none;
}

.right-links {
  float: right;
}

@media (max-width: 450px) {
  .right-links {
    float: left;
    margin-top: 24px;
  }

  .header {
    padding-bottom: 68px;
  }
}

.button {
  position: relative;
  top: 4px;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #202020;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: none;
  border: 2px solid #202020;
  border-radius: 4px;
  background: #fff;
  transition: all 0.3s ease;
}

.button:hover,
.button:active,
.button:focus {
  text-decoration: none;
  background: #202020;
  color: #fff;
}

.contact-link {
  margin-left: 16px;
}

.systems {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 20px 0px rgba(19, 39, 48, .08);

  font-size: 16px;
  font-weight: 500;
  color: #202020;
}

.system-operational {
  flex-grow: 1;
  margin-right: 16px;
}

.system-operational:last-child {
  margin-right: 0;
  max-width: 50%;
}

.system-status-badge {
  margin-top: 8px;
}

.system-status-badge img {
  position: relative;
  top: 2px;
  margin-right: 4px;
  height: 16px;
}

.incident {
  color: #202020;
}

.incident-title {
  float: left;
  text-transform: capitalize;
}

.incident-date {
  float: right;
  font-size: 14px;
  opacity: 0.3;
}

@media (max-width: 450px) {
  .incident-date {
    width: 100%;
  }
}

.incident-description {
  font-size: 14px;
  font-weight: 400;
}

.incident-status {
  margin: 24px 0 0 0;
}

.system-check-ok {
  margin: 80px auto 104px auto;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-weight: 500;
  color: #009A8D;
}

.system-check-ok img {
  margin: auto;
  width: 140px;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #F7F7F8;
  color: #bbb;
}

.see-more {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-top: 24px;
  border-top: 2px solid #F7F7F8;
}

.history {
  margin-top: 104px;
}

.color-ok {
  color: #009A8D;
}

.color-warning {
  color: #DFAA00;
}

.color-danger {
  color: #BD1F1A;
}

.incident-summary {
  margin-bottom: 24px;
  overflow: hidden;
}

.article-title {
  width: 70%;
  float: left;
  text-transform: capitalize;
}

.article-date {
  width: 29%;
  float: right;
  text-align: right;
  font-size: 14px;
  opacity: 0.3;
}

.pagination,
.pagination li {
  list-style: none;
  display: inline;
  -webkit-padding-start: 0px;
  margin-right: 8px;
}

.pagination {
  display: block;
  margin-top: 40px;
  padding-top: 24px;
  border-top: 2px solid #F7F7F8;
}

.pagination .active a {
  font-weight: 600;
  color: #3A71B0;
  opacity: 1;
}

.pagination li a {
  color: #202020;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.pagination li a:hover {
  color: #3A71B0;
  opacity: 1;
}

.footer {
  margin-top: 104px;
  padding-top: 24px;
  border-top: 2px solid #F7F7F8;
}

.footer p {
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.footer a {
  color: #202020;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #3A71B0;
  opacity: 1;
}

.footer p {
  display: inline-block;
}
